
@{
    ViewBag.Title = "Recurso no encontrado";
}

@{
    Infraestructure.Models.Usuario usuario = Session["Usuario"] as Infraestructure.Models.Usuario;
}

@*<div id="preloader">
        <div class="loader"></div>
    </div>*@
<!-- preloader area end -->
<!-- error area start -->
<div class="error-area ptb--100 text-center">
    <div class="container">
        <div class="error-content">
            <h2>404</h2>
            <p>Ooops! Recurso no encontrado.</p>
            <p>Lo sentimos, se ha producido un error, no se ha encontrado el recurso o página solicitada.</p>
            @if (usuario.FK_Rol == 1)
            {
                @Html.ActionLink("Regresar", "IndexAdmin", "Home", null, new { @class = "btn btn-primary btn-lg", @style = "margin-right:10px;" })
            }
            else if (usuario.FK_Rol == 2)
            {
                @Html.ActionLink("Regresar", "IndexUsuario", "Home", null, new { @class = "btn btn-primary btn-lg", @style = "margin-right:10px;" })
            }

        </div>
    </div>
</div>